<div class="row">
    <div class="col-md-12">
        <a class="btn btn-primary" href="/">Dashboard</a>
        <a class="btn btn-primary" href="/status/list">Statuses</a>
        <a class="btn btn-primary" href="/issue/list">Issues</a>
    </div>
</div>
